* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

ul {
	list-style: none;
	text-decoration: none;
	padding: 0;
	margin: 0;

	.link {
		text-decoration: none;
		color: var(--black);
		user-select: none;
	}
}

.logo {
	text-decoration: none;
	font-size: var(--lg-text);
	color: var(--red-tape);
	font-weight: bolder;
	text-transform: uppercase;
	letter-spacing: 0.5px;
	user-select: none;
}

/* navbar */
.navbar {
	background-color: var(--light-grey);
	padding: 0.75rem 1.25rem;
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 2.5rem;
	min-height: 70px;

	.nav_list {
		display: flex;
		justify-content: space-between;
		align-items: center;
		gap: 3rem;
	}

	.nav_menu {
		display: none;
	}
}

/* media queries */
@media screen and (max-width: 768px) {
	.navbar {
		padding: 0.5rem 1rem;
		justify-content: space-between;

		.nav_menu {
			display: block;
			cursor: pointer;
		}

		.nav_list {
			position: absolute;
			flex-direction: column;
			justify-content: flex-start;
			gap: 1.75rem;
			top: 70px;
			left: -100%;
			text-align: start;
			width: 100%;
			transition: 0.7s ease-in-out;
			background-color: var(--light-grey);
			padding: 10px;
			transition: 0.7s ease-in-out;
			/* height: 90%; */
		}
	}

	.nav_list.active {
		left: 0;
	}
}
