:root,
html {
	/* COLORS */
	--red-tape: #d21033;
	--white: #ffffff;
	--light-grey: #eeeeee;
	--black: #000000;

	/* FONTS */
	--text-base: 16px;
	--xs-text: 0.375rem;
	--sm-text: 0.5rem;
	--md-text: 1.25rem;
	--lg-text: 1.5rem;
	--xl-text: 2rem;
	--2xl-text: 2.5rem;
	--3xl-text: 3rem;

	/* CONTAINER WIDTH */
	--sm-w: 360px;
	--md-w: 481px;
	--lg-w: 769px;
	--xl-w: 1024px;
	--full-w: 100%;

	font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
	font-size: var(--text-base);
	line-height: 1.4;
}

/* CSS rules for mobile devices */
@media only screen and (min-width: 360px) {
}

/* CSS rules for tablets */
@media only screen and (min-width: 768px) {
}

/* CSS rules for laptops */
@media only screen and (min-width: 1024px) {
}

/* CSS rules for desktops and up*/
@media only screen and (min-width: 1280px) {
}
